<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - homemade222 phone</title>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css'><link rel="stylesheet" href="./style.css">

</head>
<body>
<!-- partial:index.partial.html -->
<div id="app"><img class="bkl_icon" src="https://profile.line-scdn.net/0hSU_IBjAbDHpyMCZTvcdyBQJgDxBRQVVoCVBHTkRjUkJPBhx8CQZFTBU3AUpLVEwlVgZCG0Y3Ah9-I3scbGbwTnUAUkhKAEgtVl5HnQ/preview" alt=""/><span class="title">烘妹手作菓子</span>
  <hr/><span class="content">歡迎加入 </span><a class="b" href="https://line.me/ti/p/QN3z0qf6g3" target="_blank">LINE ID : homemade222  </a><span class="content">確認訂單，會有專人為您服務</span><br/><span class="content">取貨方式：全家店到店/7-11店到店（運費需自付）</span><br/><span class="content">出貨時間：收到訂單全額款項後一周內安排出貨</span><br/><br/><a class="f" href="https://forms.gle/oxfLgom3uQk7ji986" target="_blank">點我開始訂購</a><br/><br/>
  <label>字太多，我要變  簡單模式 爹斯
    <input type="checkbox" value="字太多，我要變  簡單模式 爹斯" v-model="mode_easy"/>
  </label><br/>
  <div class="book {{mode_detail?'detail':''}} {{mode_size}}" v-for="book in books">
    <div class="block"></div><img src="{{book.img}}"/>
    <div class="infos">
      <p>
      <h2 class="name">{{book.name}}</h2>
      <p>
      <h4 class="author"> {{book.author}} </h4>
      <p>
      <h4 class="price"><span class="red">優惠價:  {{(book.price)}}</span></h4>
      <p>
      <h4 class="publish"><span class="green">口味: {{book.taste}}</span></h4>
      <hr/>
      <h4 class="publish" v-if="!mode_easy"> <span class="blue">原料: {{book.gradiant}} </span></h4>
      <p>
      <h4 class="publish" v-if="!mode_easy"> <span class="pink">食用方式: {{book.method}}  </span></h4>
      <p>
      <h4 class="publish"><span class="purple">保存期限: {{book.date}}    </span></h4>
      <p>
      <h4 class="publish" v-if="!mode_easy"><span class="rose">注意事項: {{book.warning}}  </span></h4>
      <p>
      <h4 class="publish" v-if="!mode_easy"> <span class="black">備註: {{book.hint}}</span></h4>
    </div>
  </div>
</div><span> </span><br/>
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.28/vue.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js'></script><script  src="./script.js"></script>

</body>
</html>
