<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - homemade</title>
  <link rel="stylesheet" href="./style.css">

</head>
<body>
<!-- partial:index.partial.html -->
<div id="app">
  <h1>烘妹手工菓鋪</h1>
  <h3>歡迎加入Line ID：homemade222 告知訂單，會有專人為您服務</h3>
  <h3>取貨方式：全家店到店/7-11店到店（運費需自付）</h3>
  <h3>出貨時間：收到訂單全額款項後一周內安排出貨<span></span></h3><br/>
  <label>字太多，我要變  簡單模式 爹斯
    <input type="checkbox" v-model="mode_easy"/>
  </label><br/>
  <div class="book {{mode_detail?'detail':''}} {{mode_size}}" v-for="book in books"><img src="{{book.img}}"/>
    <div class="infos">
      <h2 class="name" v-if="mode_easy">{{book.name}}</h2>
      <h2 class="name" v-if="!mode_easy">{{book.name}}</h2>
      <h4 class="author"> {{book.author}} </h4>
      <h4 class="price" v-if="book.is_discount"> <span class="red">優惠價:  {{(book.price)}}</span></h4>
      <h4 class="price" v-if="!book.is_discount"> <span class="red">優惠價:  {{(book.price)}}</span></h4>
      <h4 class="publish" v-if="!mode_easy">口味: {{book.taste}}
        <h4 class="publish" v-if="!mode_easy">原料: {{book.gradiant}} </h4>
        <h4 class="publish" v-if="!mode_easy">食用方式: {{book.method}}  </h4>
        <h4 class="publish" v-if="!mode_easy">保存期限: {{book.date}}    </h4>
        <h4 class="publish" v-if="!mode_easy">注意事項: {{book.warning}}  </h4>
        <h4 class="publish" v-if="!mode_easy">備註: {{book.hint}}</h4>
      </h4>
    </div>
  </div>
</div><span> </span><br/>
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.28/vue.js'></script><script  src="./script.js"></script>

</body>
</html>
